<style >
    .navbar-nav .nav-link {
        color: white !important; 
        font-size:20px;
        margin-left:40px;
        font-family:Arial,sans-serif;
        
    }
    .scale:hover {
        scale: 1.1;
        transition: var(--transition);
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="background: transparent; padding: 15px;">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Media/logom.png" alt="Logo" style="height: 80px; width: 180px;" />
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="flex-direction: row-reverse;" class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav">
                    <li class="scale">@Html.ActionLink("About Me", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="scale">@Html.ActionLink("Search in my Brain", "Skills", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="scale">
                        @{
                            var currentPage = ViewContext.RouteData.Values["action"].ToString();
                            var infoLink = currentPage == "About" || currentPage == "Skills" ? Url.Action("Index", "Home") : "#footerSection";
                            var infoText = currentPage == "About" || currentPage == "Skills" ? "Home" : "Info";
                        }
                        <a href="@infoLink" class="nav-link">@infoText</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div>
        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
